.navbar {
  margin-bottom: 0;
}

.main-article {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.main-article div {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  width: 100%;
  height: 174px;
  font-size: 30px;
  line-height: 1.5em;
  border-top: 4px solid #ff0500;
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  font-size: 26px;
}

.quote {
font-size: 15px;
}

.img-responsive {
  width: 100%;
}

.small-article {
height: 650px;
margin-top: 40px;
border-left: 1px solid #f2f2f2;
}

.second-article, .third-article {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  width: 100%;
  height: 174px;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.third-article {
  background-color: #e6ffff;
  height: 340px;
}

.side-menu {
  letter-spacing: 0.25px;
  color: #FF0500;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  background-color: #f7f7f7;
  padding-top: top 20px;
  padding-bottom: 14px;
}
.side-menu h3 {
  padding-top: 30px;
  font-size: 21px;
}

.side-menu li {
  font-weight: bold;
  font-size: 18px;
  color: #181818;
  border-bottom: 2px solid #f2f2f2;
  padding: 15px 15px 15px 7px;
  color: #FF0500;
  list-style-position: inside;
  list-style-type: square;
}

.side-menu li a {
  color: #181818;
}
 
.side-menu li:last-child {
  background-color: #e5e5e5;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  list-style-type: none;
  width: 100%;
  border: solid black thin;
}

.btn:hover {
  opacity: 0.6;
}

@media all and (min-width: 768px) {
  .main-article div {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: linear-gradient(to bottom,rgba(255,255,255,0.5) 0,#fff 50%,#fff 100%);
  }
  .side-menu {
    text-align: center;
    background-color: #f7f7f7;
    padding-top: top 20px;
    padding-bottom: 14px;
  }
  .third-article {
   background-color: #e6ffff;
   height: 375px;
  }
}

@media all and (min-width: 992px) {
  .side-menu {
    text-align:left;
    background-color: white;
  }
  .third-article {
    background-color: #e6ffff;
    height: 355px;
    }
}

@media all and (min-width: 1200px) {
  .side-menu {
    text-align:left;
    background-color: white;
  }
  .third-article {
    background-color: #e6ffff;
    height: 335px;
    }
}